:host {
    all: initial;
}

/* DEFAULT FONT */
@layer base {
    :host {
        font-family: Proxima Nova, system-ui, sans-serif !important;
    }
}

.hide-resize::-webkit-resizer {
    display: none;
}

/*!* DOTS *!*/

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        @apply bg-indigo-300;
    }
    50%,
    100% {
        @apply bg-indigo-100;
    }
}


/* PREVENT DRAGGING */

.drag-none {
    /* user-drag: none; */
    -webkit-user-drag: none;
}

/* SCROLLBARS */

/* https://stackoverflow.com/a/59244343/237090 */

textarea {
    cursor: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-300;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
}

::-webkit-resizer{
    /*  Does not work as I want  */
}

/* PROGRESS BAR LOADER */

.background-animate {
    background-size: 200%;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: -100% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  /* INPUTS PRIORITIES */

.priority-10 {
    z-index: 10;
}

.priority-20 {
    z-index: 20;
}

.priority-30 {
    z-index: 30;
}


/* .border-colorfull {
  border: double 4px transparent;
  @apply rounded-lg;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, rgb(0, 89, 255), gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
} */

.svg-pattern {
    background-color: #f1f5f9;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5e7eb' fill-opacity='0.32' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;
