@import "three-dots/dist/three-dots.css";

:host {
    all: initial;
}

@layer base {
    :host {
        font-family: Proxima Nova, system-ui, sans-serif;
    }
}

.hide-resize::-webkit-resizer {
    display: none;
}

.undraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*!* DOTS *!*/

/*.dot-flashing {*/
/*    position: relative;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 5px;*/
/*    @apply bg-indigo-300;*/
/*    @apply: color-indigo-300;*/
/*    animation: dot-flashing 1s infinite linear alternate;*/
/*    animation-delay: .5s;*/
/*}*/

/*.dot-flashing::before, .dot-flashing::after {*/
/*    content: '';*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

/*.dot-flashing::before {*/
/*    left: -15px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 5px;*/
/*    @apply bg-indigo-300;*/
/*    @apply: color-indigo-300;*/
/*    animation: dot-flashing 1s infinite alternate;*/
/*    animation-delay: 0s;*/
/*}*/

/*.dot-flashing::after {*/
/*    left: 15px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 5px;*/
/*    @apply bg-indigo-300;*/
/*    @apply: color-indigo-300;*/
/*    animation: dot-flashing 1s infinite alternate;*/
/*    animation-delay: 1s;*/
/*}*/

/*@keyframes dot-flashing {*/
/*    0% {*/
/*        @apply bg-indigo-300;*/
/*    }*/
/*    50%,*/
/*    100% {*/
/*        @apply bg-indigo-100;*/
/*    }*/
/*}*/

/* SCROLLBARS */

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    @apply bg-slate-300;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-indigo-500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-700;
}

::-webkit-resizer{
/*  Does not work as I want  */
}