:host {
    all: initial;
}

/* DEFAULT FONT */
@layer base {
    :host {
        font-family: Proxima Nova, system-ui, sans-serif !important;
    }
}

.hide-resize::-webkit-resizer {
    display: none;
}

/*!* DOTS *!*/

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    @apply bg-indigo-300;
    @apply: color-indigo-300;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        @apply bg-indigo-300;
    }
    50%,
    100% {
        @apply bg-indigo-100;
    }
}


/* PREVENT DRAGGING */

.drag-none {
    /* user-drag: none; */
    -webkit-user-drag: none;
}

/* SCROLLBARS */

.hide-scrollbar::-webkit-scrollbar {
    display:none;
}

/* https://stackoverflow.com/a/59244343/237090 */

textarea {
    cursor: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-300;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
}

::-webkit-resizer{
    /*  Does not work as I want  */
}

/* PROGRESS BAR LOADER */

.background-animate {
    background-size: 200%;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: -100% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

/* INPUTS PRIORITIES */

/* TODO: remove if not needed */

/*.priority-10 {*/
/*    z-index: 10;*/
/*}*/

/*.priority-20 {*/
/*    z-index: 20;*/
/*}*/

/*.priority-30 {*/
/*    z-index: 30;*/
/*}*/

/*.priority-40 {*/
/*    z-index: 40;*/
/*}*/

/*.priority-50 {*/
/*    z-index: 50;*/
/*}*/

/*.priority-60 {*/
/*    z-index: 60;*/
/*}*/

/*.priority-70 {*/
/*    z-index: 70;*/
/*}*/

/*.priority-80 {*/
/*    z-index: 80;*/
/*}*/

/*.priority-90 {*/
/*    z-index: 90;*/
/*}*/

/*.priority-100 {*/
/*    z-index: 100;*/
/*}*/

.svg-pattern {
    background-color: #f1f5f9;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5e7eb' fill-opacity='0.32' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT LINKS COLOR */

a {
    @apply text-indigo-700;
}

/* GITHUB README HIGHLIGHT */

@import 'github-markdown-css/github-markdown.css';

.markdown-body {
    --color-canvas-default: transparent;
}

/* REPLACE PREFLIGHT TAILWIND REM TO PX */

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'],
[type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply py-2;
    @apply px-3;
}

/* COLORFUL BORDER */

/* .border-colorfull {
    border: double 4px transparent;
    @apply rounded-lg;
    background-image: linear-gradient(white, white),
                      linear-gradient(to right, rgb(0, 89, 255), gold);
    background-origin: border-box;
    background-clip: content-box, border-box;
  } */


/* HACK USED FOR CHILD TRANSITION IN THE SIDEBAR */

@layer base, special;

@layer special {
    .c1 {
        @apply translate-x-0;
    }

    .c2 {
        @apply !translate-x-11;
    }
}

@layer base {
    .c3 {
        @apply !translate-x-full;
    }
}
